<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
      activeLinkPath }); %>
      <h1 class="heading">Products</h1>
      <% if (products && products.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
        <li>
          <p>
            Name: <span style="font-weight: 600"> <%= product.name %></span>
          </p>
          <p>Description: <%= product.description %></p>
          <a href="/products/<%= product.name %>">Details</a>
          <button
            class="del-btn"
            onclick="deleteProduct('<%= product.name %>')"
          >
            Delete
          </button>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <br />
      <div>No products available.</div>
      <% }%>
    </main>
    <script>
      function deleteProduct(name) {
        if (!confirm(`Are you sure you want to remove ${name}?`)) {
          return;
        }

        fetch(`/products/${name}`, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              window.location.reload();
            }
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
